.cards-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;

}
.card-container{
  position: absolute;
  height: 82.5%;
  width: 90%;
  margin: 20px 5px 5px 5px;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
}
.card{
  margin: 10px;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 15px 10px;
}
.card p{
  text-align: left;
}
.button{
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  background: transparent;
  width: 20%;
}
.button:hover{
  transform: scale(0.9) ;
}
