.md-container{
  width: 100%;
  height: 92%;
  display: flex;
  justify-content: space-evenly;
}
.left-container ul{
  font-size: 1.3rem;
  list-style: none;
  margin-top: 20px;
  width: 250px;
  height: 100%;
}

.left-container ul li button{ 
  border: 1px solid #000;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  margin: 4px;
}
.btn-container{
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
}
.classroom-btn{
  margin: 20px 20px;
  height: 150px;
  width: 150px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 10px;
}
@media (max-width:600px) {
  ul{
    display: none;
  }
  .btn-container{
    margin:0;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto auto;
  }
}