.mobile-ul{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 10px;
}
 .mobile-menu{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: block;
  border: 1 px solid #000;
  padding: 8px;
  border-radius: 20px;
  background: #fff;
}
.mobile-menu p{
  margin-left: 4px;
  font-weight: 500;
}
.mobile-menu svg{
  transform: scale(1.5);
}
.mobile-menu:hover{
  transform: scale(0.95);
}
.mobile-options{
  position: relative;
  z-index: 100;
  width: 120px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1 px solid #000;
  margin: 4px 16px 0px 0px;
  padding: 8px;
  border-radius: 20px;
  background: solid #fff;
}
.login svg{
  margin-left: 12px;
}

.mobile-options p{
  margin-left: 4px;
  font-weight: 500;
}

.mobile-options svg{
  transform: scale(1.5);
  margin-left: 4px;
}
@media (max-widht: 600px) {
  .inactive{
    display: block;
  }
}