.logo{
  font-weight: 500;
  display: flex;
}
.logo p{
  padding-left:10px;
}
.logo-svg{
  transform: scale(1.5);
  margin-top: 2px;
}
.header{
  margin: 0 12px;
  font-size: 18px;
  position: block;
  top: 0;
  display: flex;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #000;
  font-weight: 500;
}
.header ul{
  list-style: none;
  display: flex;
}
.btn-options{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 10px;
  border: 1 px solid #000;
  padding: 8px;
  border-radius: 20px;
  background: transparent;
}
.main-btn{
  padding: 8px 12px 8px 12px;
  display: flex;
  justify-content: flex-start;
}
.btn-options p{
  margin-left: 4px;
  font-weight: 500;
}
.header ul li a{
  display: flex;
  align-items: center;
}
.btn-options:hover{
  transform: scale(0.95);
}
.btn:hover{
  transform: scale(0.95);
}
.btn-options svg{
  transform: scale(1.5);
}
.btn-login svg{
  transform: scale(1.5);
  margin-right: 4px;
}
.inactive{
  display: none;
}
.notification-display{
  position: absolute;
  z-index: 1000;
  top: 60px;
  right: 120px;
  background-color: rgba(165,55,253,1);
  color: #fff;
  width: 250px;
  height: 60px;
  font-size: medium ;
  border: 1px solid  #000;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .btn-options{
    display: none;
  }
  .inactive{
    display: block;
  }
  .notification-display{
    display: none;
  }
}
@media (max-width: 300px) {
  .logo-svg{
    display: none;
  }
  .logo p{
    margin-left: -12px;
    text-align: start;
  }
}