@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 1vh;
}

a {
  text-decoration: none;
  color: #000;
}
.container{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #fff 45%, rgba(165,55,253,1) 100%);
}

@media(max-width: 850px)
{
.container{
  height: 150%;
  background: linear-gradient(90deg, #fff 45%, rgba(165,55,253,1) 100%);
}

}
