@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}
.logo{
  font-weight: 500;
  display: flex;
}
.logo p{
  padding-left:10px;
}
.logo-svg{
  transform: scale(1.5);
  margin-top: 2px;
}

.header{
  margin: 0 12px;
  font-size: 18px;
  position: block;
  top: 0;
  display: flex;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px;
  border-bottom: 1px solid #c5c1c1;
  font-weight: 500;
}

.header ul{
  list-style: none;
  display: flex;
}
.btn-options{
  margin-left: 10px;
  border: 1px solid #c5c1c1;
  padding: 10px;
  border-radius: 20px;
  background: #fff;
}

.header ul li a{
  display: flex;
  align-items: center;
}
.btn-highlight{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid #000;
  background: rgb(245, 140, 12);
  padding: 8px;
  border-radius: 20px;
  font-size: 500;
}
.heading{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 210%;
  } 
.heading p{
  position: relative;
  right: -15px;
}
.form{
  display: flex;
  justify-content: center;
  margin-top: 20px;

}
.form-group{
  position: relative;
  margin-top: 10px;
  right: -15px;
}
.form-control{
  border: 1px solid #000;
  position: relative;
  width: 640px;
  height: 36px;
  box-sizing: border-box;
  border-radius: 20px;
}
.form-group button{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 2px solid #000;
  background: rgb(245, 140, 12);
  font-weight: bold;
  font-size: large;
  width: 100%;
  height: 36px;
  border-radius: 20px;
}

input{
  padding-left: 10px;
}

.btn:hover{
  transform: scale(0.95);
}
.btn-options:hover{
  transform: scale(0.95);
}

.btn-highlight:hover{
transform: scale(0.95);
}
.btn-options svg{
  transform: scale(1.5);
}
.btn-login svg{
  transform: scale(1.5);
  margin-right: 4px;
}
.btn-highlight svg{
  transform: scale(1.5);
  margin-right: 4px;
}
